/src/AsyncHelpers/AsyncHelpers/obj
/src/AsyncHelpers/AsyncHelpers/bin
/src/AsyncHelpers/.vs
/src/AsyncHelpers/AsyncHelpers.Tests/obj
/src/AsyncHelpers/AsyncHelpers.Tests/bin
/src/AsyncHelpers/AsyncHelpers.Examples/obj
/src/AsyncHelpers/AsyncHelpers.Examples/bin
